
.covid-banner {
    width: 100%;
    margin: 0px !important;
  }
  .covid-banner > img {
    width: 100%;
  }
  .all-medicines {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .medicine-info {
    margin-bottom: 10px;
    display: flex;
    width: 200px;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid rgb(21, 155, 21);
    border-radius: 3px;
    padding: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 1ms;
    background-color: #d8def0;
  }
  
  .medicine-img > img {
    width: 190px;
    height: 140px;
    border-radius: 3px;
  }
  
  .medicine-desc,
  .medicine-desc > p {
    width: 100%;
  }
  
  .medi-cost {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    .medicine-info {
      width: 120px;
    }
    .medicine-img > img {
      width: 105px;
      height: 100px;
    }
    .medicine-desc,
    .medicine-desc > p {
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) {
    .medicine-info:hover {
      transform: scale(1.05);
    }
  }
    
 
  