.navbar{
  border-radius: 0px !important;
  font-size: 1.8rem;
}

.logo{
  height: 40px;
  margin-top: -10px;
}
.location-detect {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin-top: 8px;
}
.search-field {
  width: 150px;
  margin-left: 8px;
}

.navbar-nav > li > form > button {
  margin-left: 8px;
}
